<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Standard meta tags -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{{ description }}" />
    <meta name="keywords" content="" />
    <link rel="canonical" href="{{ client.domain }}{{ page.url }}" />

    <!-- Social Media Display -->
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="{{ description }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ client.domain }}{{ page.url }}" />
    <meta property="og:image" content="/assets/images/og-image.webp" />
    <meta
      property="og:image:secure_url"
      content="/assets/images/og-image.webp"
    />

    <!-- Favicons -->
    <link
      rel="apple-touch-icon"
      type="image/x-icon"
      href="/assets/favicons/apple-touch-icon.png"
      sizes="180x180"
    />
    <link
      rel="icon"
      type="image/png"
      href="/assets/favicons/favicon-32x32.png"
      sizes="32x32"
    />
    <link
      rel="icon"
      type="image/png"
      href="/assets/favicons/favicon-16x16.png"
      sizes="16x16"
    />
    <link href="/assets/favicons/site.webmanifest" rel="manifest" />

    <!-- Sitewide Stylesheets and Scripts -->
    <link rel="stylesheet" href="/assets/css/styles.css" />

    <!-- Google Font -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
    />

    {% block head %}{% endblock %}

    <title>{{ title }}</title>

    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Organization",
        "name": "{{ client.name }}",
        "url": "{{ client.domain }}",
        "logo": "{{ client.domain }}/assets/images/logo.png",
        "contactPoint": {
          "@type": "ContactPoint",
          "telephone": "{{ client.phone }}",
          "contactType": "Customer Service"
        }
      }
    </script>

  </head>

  <body>
    {% include "components/header.njk" %}
    <main>{% block content %}{% endblock %}</main>
    {% include "components/footer.njk" %}
    <script src="/assets/js/main.js"></script>
    <script src="/assets/js/modal.js"></script>
    <!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "9a79e18a177f48f29e1c8fda4f3bd2db"}'></script><!-- End Cloudflare Web Analytics -->
  </body>
</html>
